* {
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #26af00;
}

h1 {
    margin-bottom: .75em;
}

h2 {
    margin-bottom: .75em;
}

ul {
    list-style: none;
}

ul > li > ul {
    margin-left: 2em;
}

div#notifications > div, div#game_area > header > div.button, div#container > nav > ul > li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#ping_info {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: .5em;
    font-size: .7em;
    opacity: .5;
    pointer-events: none;
}

/*
*
* Form
*
*/

div#login_holder, div#choose_race_class {
    position: absolute;
    top: 0;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    opacity: 1;
    transition: opacity .5s;
    z-index: 998;
}

div#choose_race_class {
    opacity: 0;
    pointer-events: none;
}

div#login_holder > div, div#choose_race_class > div {
    margin: auto;
    background: #eaeaea;
    width: 25%;
    max-width: 25em;
    padding: 1.5em;
}

div#login_holder > div > ul, div#choose_race_class > div > ul {
    list-style: none;
}

div#login_holder > div > ul > li {
    margin-bottom: 1.5em;
}

div#choose_race_class > div > ul > li {
    background: #ffffff;
    padding: .5em;
    margin-bottom: .5em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    cursor: pointer;
}

div#choose_race_class > div > ul > li:last-child {

    margin-bottom: 1.5em;
}

div#choose_race_class > div > div#btn_race_class {
    background: #ffffff;
    padding: .5em;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    font-weight: bold;
    cursor: pointer;
}

div#choose_race_class > div > ul > li:hover, div#choose_race_class > div > div#btn_race_class:hover, div#choose_race_class > div > ul > li.race_class_active {
     background: #fffde6;
}

div#choose_race_class > div > ul > li:active, div#choose_race_class > div > div#btn_race_class:active, div#choose_race_class > div > ul > li.race_class_active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
}

div#login_holder > div > ul > li:last-of-type {
    margin-bottom: 0;
}

div#login_holder > div > ul > li > input[type=text], div#login_holder > div > ul > li > input[type=password] {
    padding: .5em;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    width: calc(100% - 1.1em);
}

div#login_holder > div > ul > li > input[type=button] {
    padding: .5em;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    width: 100%;
}

/*
*
* Notifications
*
*/

div#notifications {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 999;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

div#notifications > div {
    background: rgba(0, 0, 0, .4);
    padding: .5em;
    transition: opacity, .5s;
    cursor: pointer;
}

/*
*
* Game area
*
*/

div#container {
    padding: 1em;
}

div.clearfix {
    clear: both;
}

div#container > nav > ul {
    list-style: none;
    overflow: hidden;
    padding-top: .6em;
}

div#container > nav > ul > li {
    position: relative;
    float: left;
    padding: 1em;
    background: #87cdff;
    margin-right: 2em;
    min-width: 10em;
    text-align: center;
    cursor: pointer;
    transition: background .15s, z-index .15s, box-shadow .15s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

div#container > nav > ul > li:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    background: #7cbeee;
}

div#container > nav > ul > li.active {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    background: #009bff;
    z-index: 1;
}

div#container > nav > ul > li:last-of-type {
    margin-right: 0;
}

div#container > nav > ul > li:first-of-type {
    margin-left: 1em;
}

div#container > div.tab_area {
    background: #009bff;
    padding: 1em;
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

div#container > div#tab_two, div#container > div#tab_three {
    display: none;
}

div#game_area {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    transition: opacity .5s;
}

div#game_area > header {
    top: 0;
    background: #b1cc00;
    padding: 1em;
    width: calc(100% - 2em);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

div#game_area > header > div#user_info {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

div#game_area > header > div#user_info > span {
    font-size: 0.7em;
    font-weight: normal;
}

div#game_area > header > div.button {
    cursor: pointer;
    padding: 1em;
    height: auto;
    background: #f2f2f2;
    margin-left: 1em;
    display: inline-block;
    transition: box-shadow .2s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

div#game_area > header > div.button:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

div#game_area > header > div.button:active {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.7);
}

div#game_area > div#show_admin {
    display: none;
    position: absolute;
    right: -32em;
    top: 6em;
    padding: 1em;
    width: 32em;
    background: #f8f7d0;
    z-index: 997;
    transition: right .3s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

div#game_area > div#show_admin > div#admin_user {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}

div#next_turn {
    background: #FFA500;
    padding: .5em;
    cursor: pointer;
    display: inline-block;
    margin-left: .5em;
}

div#next_turn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgba(255, 165, 0, .75);
}

div#next_turn:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgba(255, 165, 0, .5);
}

div#game_area > div#show_admin > div#admin_panel {
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px solid #000000;
}

div#game_area > div#show_admin > div#admin_panel > div#admin_tab_two {
    display: none;
}

div#game_area > div#show_admin > div#admin_panel > div.admin_tab {
    padding: .5em;
    background: #ffae00;
}

div#game_area > div#show_admin > div#admin_panel > div#admin_tabs > ul > li {
    float: left;
    padding: .5em;
    margin-right: 1em;
    background: #ffd198;
    transition: background .15s;
    cursor: pointer;
}

div#game_area > div#show_admin > div#admin_panel > div#admin_tabs > ul > li:hover {
    background: #f6c893;
}

div#game_area > div#show_admin > div#admin_panel > div#admin_tabs > ul > li.active {
    background: #ffae00;
}

div#game_area > div#show_admin > div#admin_panel > div#admin_tabs > ul > li:first-of-type {
    margin-left: .5em;
}

div#game_area > div#show_admin > div#admin_panel ul {
    list-style: none;
}

div#game_area > div#show_admin > div#admin_panel ul > li > input[type=text], div#game_area > div#show_admin > div#admin_panel ul > li > input[type=password] {
    padding: .5em;
    font-family: "Open Sans", sans-serif;
    font-size: .8em;
    width: calc(100% - 1.31em);
    margin-bottom: .5em;
}

div#game_area > div#show_admin > div#admin_panel ul > li > input[type=button] {
    padding: .5em;
    font-family: "Open Sans", sans-serif;
    font-size: .8em;
    width: 100%;
}

div#game_area > div#show_admin > div#admin_panel ul > li > div {
    padding: .5em;
    margin-top: .3em;
    margin-right: .3em;
    background: #ff4f00;
    cursor: pointer;
    display: inline-block;
}

div#game_area > div#show_admin > div#admin_panel ul > li > div:hover {
    background: #ea7642;
}

div#game_area > div#show_admin > div#admin_panel ul > li > div:active {
    background: #ff8959;
}

div#game_area > div#show_admin > div#admin_panel ul > li:first-of-type > div {
    margin-top: 0;
}

div#tab_one > div.col {
    width: calc(50% - .5em);
    margin-right: 1em;
    float: left;
}

div#tab_one > div.col > div {
    padding: 1em;
    margin-bottom: 1em;
    background: #87cdff;
}

div#tab_one > div.col > div:last-child {
    margin: 0;
}

div#tab_one > div.col#last {
    margin-right: 0;
}

div#tab_one > div.col > div > ul > li {
    background: rgba(255, 255, 255, .5);
    padding: .5em;
    margin-bottom: .5em;
}

div#tab_one > div.col > div > ul > li > div.use_item_button {
    display: inline-block;
    background: #ceb9ff;
    padding: .3em;
    margin-left: .5em;
    cursor: pointer;
}

div#tab_one > div.col > div > ul > li > div.use_item_button:hover {
    background: rgba(208, 183, 255, .7);
}

div#tab_one > div.col > div > ul > li > div.use_item_button:active {
    background: rgba(208, 183, 255, .45);
}

div#tab_one > div.col > div > ul > li:last-child {
    margin-bottom: 0;
}

div#tab_one > div.col > div > ul > li > ul > li {
    background: #00bfff;
    padding: .5em;
    margin-top: .5em;
}

div#tab_one > div.col > div > ul > li > ul.hover_show {
    display: none;
}

div#tab_one > div.col > div > ul > li:hover > ul.hover_show {
    display: inherit;
}

@media screen and (max-device-width: 640px) {
    div#login_holder > div {
        margin: auto 1em;
        width: 100%;
        max-width: 100%;
    }

    div#game_area > header > div.button {
        width: calc(100% - 2em);
        margin: 1em 0 0 0;
        display: block;
        text-align: center;
    }

    div#game_area > div#show_admin {
        width: 90%;
        right: -90%;
    }

    div#container > nav > ul {
        overflow: visible;
        padding: 0;
    }

    div#container > nav > ul > li {
        float: none;
        position: static;
        width: calc(100% - 2em);
        margin: 0 0 1em 0;
    }

    div#container > nav > ul > li:first-of-type {
        margin: 0 0 1em 0;
    }
}