* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

h1 {
    margin-bottom: .75em;
}

div#notifications > div, div#game_area > header > div.button, div#container > nav > ul > li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
*
* Form
*
*/

div#login_holder {
    position: absolute;
    top: 0;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    opacity: 1;
    transition: opacity .5s;
    z-index: 1;
}

div#login_holder > div {
    margin: auto;
    background: #eaeaea;
    width: 25%;
    max-width: 25em;
    padding: 1.5em;
}

div#login_holder > div > ul {
    list-style: none;
}

div#login_holder > div > ul > li {
    margin-bottom: 1.5em;
}

div#login_holder > div > ul > li:last-of-type {
    margin-bottom: 0;
}

div#login_holder > div > ul > li > input[type=text], div#login_holder > div > ul > li > input[type=password] {
    padding: .5em;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    width: calc(100% - 1.1em);
}

div#login_holder > div > ul > li > input[type=button] {
    padding: .5em;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    width: 100%;
}

/*
*
* Notifications
*
*/

div#notifications {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 999;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

div#notifications > div {
    background: rgba(0, 0, 0, .4);
    padding: .5em;
    transition: opacity, .5s;
    cursor: default;
}

div#notifications > div > span.close_notif {
    background: rgba(0, 0, 0, .4);
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 0;
    margin-right: .5em;
    cursor: pointer;
}

/*
*
* Game area
*
*/

div#container {
    padding: 1em;
}

div.clearfix {
    clear: both;
}

div#container > nav > ul {
    list-style: none;
}

div#container > nav > ul > li {
    float: left;
    padding: 1em;
    background: #87cdff;
    margin-right: 2em;
    min-width: 10em;
    text-align: center;
    cursor: pointer;
    transition: background .15s;
}

div#container > nav > ul > li:hover {
    background: #7cbeee;
}

div#container > nav > ul > li.active {
    background: #009bff;
}

div#container > nav > ul > li:last-of-type {
    margin-right: 0;
}

div#container > nav > ul > li:first-of-type {
    margin-left: 1em;
}

div#container > div.tab_area {
    background: #009bff;
    padding: 1em;
}

div#container > div#tab_two, div#container > div#tab_three {
    display: none;
}

div#game_area {
    position: absolute;
    top: 0;
    background: #26af00;
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
}

div#game_area > header {
    top: 0;
    background: #b1cc00;
    padding: 1em;
    width: calc(100% - 2em);
}

div#game_area > header > div#user_info {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

div#game_area > header > div#user_info > span {
    font-size: 0.7em;
    font-weight: normal;
}

div#game_area > header > div.button {
    cursor: pointer;
    padding: .7em;
    float: right;
    background: #f2f2f2;
    transition: box-shadow .15s;
}

div#game_area > header > div.button:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

div#game_area > header > div.button:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}